Varmeplader/Varmeplader.xcodeproj/project.pbxproj
Varmeplader/Varmeplader.xcodeproj/project.xcworkspace/xcuserdata/Anders.xcuserdatad/UserInterfaceState.xcuserstate
Varmeplader/Varmeplader.xcodeproj/project.xcworkspace/xcshareddata/Varmeplader.xccheckout
Rapport/.texpadtmp/mijae12_anbae12.bbl
Rapport/.texpadtmp/mijae12_anbae12.blg
Rapport/.texpadtmp/mijae12_anbae12.log
Rapport/.texpadtmp/mijae12_anbae12.synctex.gz
