Varmeplader/Varmeplader.xcodeproj/project.pbxproj
Varmeplader/Varmeplader.xcodeproj/project.xcworkspace/xcuserdata/Anders.xcuserdatad/UserInterfaceState.xcuserstate
Varmeplader/Varmeplader.xcodeproj/project.xcworkspace/xcshareddata/Varmeplader.xccheckout
